@{
    ViewData["Title"] = "Overview";
}

<h1>Exercise Overview</h1>

<h2>This is where you can find an in depth list of different exercises you can incorporate into your gym routine.</h2>

<p>These exercises are sorted by muscle group</p>

<h1>What Are the Four Basic Strength Training Exercises?</h1>
<img src="~/Images/PushPullHingeSquat.webp" class="img-thumbnail" alt="~/Images/PushPullHingeSquat - 500.webp">
<p>
    The four basic strength training exercises refer to the four fundamental movements of resistance training.

    They are four movements that, together, cover a large part of what we can do with our bodies.

    The idea is that if you do at least one exercise for each fundamental movement, you will have worked almost all your major muscle groups.

    At least one exercise from each of these four basic movements should be included in every comprehensive strength training program.

    The four fundamental movements are:
</p>

<p>
    Push something away from you. Examples: bench press, overhead press, push-ups, machine chest press.
    <br />
    Pull something towards you. Examples: pull-ups, lat pulldown, barbell row, dumbbell row, cable row.
    <br />
    Hip hinge. Examples: deadlift, good morning, Romanian deadlift, clean, kettlebell swing.
    <br />
    Squat. Examples: squat, front squat, Bulgarian split squat, goblet squat, leg press.
    <br />
    Push, pull, hinge, and squat. That’s it.
</p>

<img src="~/Images/muscle groups.jpg" class="img-thumbnail" alt="~/Images/muscle groups - 500.jpg">

<h3>Chest</h3>
<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Bench Press", "BenchPress")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Incline Dumbbell Press", "InclineDumbbellPress")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Bar Dips", "BarDips")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Standing Cable Chest Fly", "StandingCableChestFly")</td>

    </tr>

</table>

<h3>Shoulders</h3>

<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Overhead Press", "OverheadPress")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Seated Dumbbell Shoulder Press", "SeatedDumbbellShoulderPress")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Dumbbell Lateral Raise", "DumbbellLateralRaise")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Reverse Dumbbell Fly", "ReverseDumbbellFly")</td>

    </tr>

</table>

<h3>Back</h3>

<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Deadlift", "Deadlift")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Lat Pulldown", "LatPulldown")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Pull-Up", "PullUp")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Barbell Row", "BarbellRow")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Dumbbell Row", "DumbbellRow")</td>

    </tr>

</table>

<h3>Biceps</h3>

<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Barbell Curl", "BarbellCurl")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Dumbbell Curl", "DumbbellCurl")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Hammer Curl", "HammerCurl")</td>

    </tr>

</table>

<h3>Triceps</h3>

<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Overhead Cable Triceps Extension", "OverheadCableTricepsExtension")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Tricep Pushdown", "TricepPushdown")</td>

    </tr>

</table>

<h3>Quadriceps</h3>

<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Squat", "Squat")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Leg Extension", "LegExtension")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Leg Press", "LegPress")</td>

    </tr>

</table>

<h3>Hamstrings</h3>

<p>1. Seated Leg Curl</p>
<p>3. Leg Press</p>

<h3>Glutes</h3>

<p>1. Squat</p>
<p>2. Hip Thrust</p>
<p>3. Leg Press</p>

<h3>Abs</h3>

<p>1. Cable Crunch</p>
<p>2. Hanging Leg Raise</p>
<p>4. Crunch</p>

<h3>Calves</h3>

<p>1. Standing Calf Raise</p>
<p>2. Seated Calf Raise</p>